*.exe
*.cpp
*.rep
*.std
*.log 
*.cov
*.hes
*.log
*.fff
*.fls
*.bbl
*.blg
*.aux
*.htp
*.log
*.Rdata
*.pdf
*.xlsx
*.csv
*.png
*.b01
*.b02
*.bar
*.cor
*.eva
*.obj
*.p01
*.p02
*.r01
*.r02
*.tmp
*.dep
*.aux
*.fdb_latexmk
*.synctex.gz
*.lof
*.lot
*.ttt
variances
derivatives
environ/environTS.R
environ/PDO.csv
